.drop-down {
    background-color: white;
    box-shadow: 2px 6px 6px -2px rgba(0,0,0,0.07);
    -webkit-box-shadow: 2px 6px 6px -2px rgba(0,0,0,0.07);
    -moz-box-shadow: 2px 6px 6px -2px rgba(163,164,164);
    color: hsl(0, 0%, 52%);
}