
.container {
    height: 12vh;
    width: 100vw;
    
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

p {
    margin-left: 10px;
    font-weight: 500;
    width: 100px;
}

h3 {
    font-weight: bolder;
    width: 200px;
}